$placeholder {
    border 1px solid aqua
}

$primary-button {
    background-color white
    border-radius 0.25em
    color $c-shadow
    cursor pointer
    display block
    margin 2em auto
    font-size 2em
    font-size 1.25em
    font-weight 900
    outline none
    padding 0.75em 3em
    position relative
    transition all 0.5s ease
    text-transform uppercase
    &:before {
        absolute top 0.33em bottom 0 left 0 right 0
        background-color $c-shadow
        border-radius 0.25em
        content ""
        display block
        size 100%
        z-index -1
    }
    &:focus {
        relative top 0.33em
    }
    &:focus:before {
        top 0
    }
}

$primary-text-input {
    background-color transparent
    border 0
    border-bottom 1px solid white
    color white
    font-size 1.25em
    line-height 2em
    margin-bottom 1em
    outline none
    size 100% 2em
}

.container {
    +from(hand) {
        display none
    }
}

.desktop-promo {
    padding-top 10%
    text-align center
    +below(hand) {
        display none
    }
}

.app-button img {
    height 4em
    margin 3em 1em
}

.pi-brand {
    padding 2em 0
    text-align center
}

    .pi-brand__logo {
        display block
        margin 0 auto
        size 9.5em
    }

    .pi-brand__name {
        display block
        margin 0 auto
        size 13em auto
    }

.settings-link {
    absolute top 1em right 1em
    overflow hidden
    size 1.9em
}

.masthead {
    background-color white
    display table
    min-height 4em
    width 100%
}

    .masthead__back-button {
        display table-cell
        text-align center
        vertical-align middle
        width 20%
        img {
            size 1.5em
        }
    }

    .masthead__heading {
        color $c-title
        display table-cell
        font-size 1.4em
        line-height 1.1
        font-weight 900
        text-align center
        text-transform uppercase
        vertical-align middle
    }

    .masthead__logo-container {
        display table-cell
        padding-right 1em
        text-align center
        vertical-align middle
        width 20%
    }

    .masthead__logo {
        size 3em
    }

.branded-footer {
    padding 1em 0
    text-align center
}

    .branded-footer__logo {
        display block
        margin 1em auto -1em
        size 5em
    }

    .branded-footer__name {
        size 8em 4em
    }



