.page-index {
    background-color $c-key
}

.page-login {
    background-color $c-key
}

.page-settings {
    background-color $c-base
}

.page-sorry {
    background-color $c-key
}

.page-winner {
    background-color #64b94d
}

.page-signup {
    background-color $c-base
}
.page-user-preferences {
    background-color $c-base
}
