.contact-form {
    text-align center
}

    .contact-form__title {
        color white
        font-size 1.5em
        font-weight 500
        margin 1em auto 1em
        text-transform uppercase
    }

    .contact-form__body {
        background white
        border 0
        border-radius 0.5em
        color #666
        display block
        font-size 1em
        margin 1em auto 2em
        min-height 16em
        padding 1em
        width 80%
    }

    .contact-form__button {
        @extends $primary-button
        color $c-base
        font-size 0.9em
        margin 0 auto
        &:before {
            background-color darken($c-base, 10)
        }
    }
