.promo {
    min-width 300px
    min-height 23em
    color white
    text-align center
    margin-bottom 2em
}

    .promo img {
        max-width 80%
        margin 2.5em 0
    }

    .promo img.smaller {
        max-width 70%
        margin 1.5em 0
    }

    .promo-header,
    .promo p {
        color white
        font-size 1.3em
        font-style italic
        font-weight 900
        text-align center
        text-transform uppercase
    }

    .promo .swiper-pagination-bullet {
        size 1em
    }

    .promo .swiper-pagination-bullet-active {
        background white
    }

.button-container {
    margin-bottom 4em
    padding 0 1.5em
    text-align center
}
.signup-button,
.login-button {
    @extends $primary-button
    display inline-block
    margin 0 2.5%
    padding 0.75em 0em
    text-align center
    width 44%
}
