.staged-header {
    min-height 7em
    background white
    display table
    width 100%
}

    .staged-header__pizza {
        display table-cell
        padding-left 10%
        width 30%
        vertical-align middle
    }

    .staged-header__title {
        color $c-title
        display table-cell
        font-size 1.6em
        font-weight 500
        line-height 1.1em
        padding 1em
        text-align center
        vertical-align middle
    }

.preferences-form {
    max-width 70%
    margin 1em auto
    placeholder-color(#eee)
}

    .preferences-form__title {
        color white
        font-size 1.75em
        font-weight 900
        margin-bottom 1em
        text-align center
        text-transform uppercase
    }

    .preferences-form__input {
        @extends $primary-text-input
        border-radius 0
        color white
        +placeholder() {
            color white
        }
        &.is-error {
            border 2px dotted #ffec1c
        }
    }

    .preferences-form__error-note {
        color #ffec1c
        display none
        relative top -0.5em
        .is-error + & {
            display inline-block
        }
    }


    .preferences-form__input--cc {
        @extends .preferences-form__input
        display inline-block
        width 23.6%
    }

    .preferences-form__input--half {
        @extends .preferences-form__input
        display inline-block
        width 49%
    }

    .preferences-form__checkbox {
        height 3.5em
        font-size 1.2em
        position relative
        input[type="checkbox"] {
            opacity 0
        }
        label {
            no-select()
            absolute top 0 left 0
            border 2px solid white
            border-radius 0.5em
            color white
            display inline-block
            line-height 2.6em
            text-align center
            text-transform uppercase
            transition all 0.5s ease
            width 100%
        }
        input[type="checkbox"]:checked + label {
            background $c-key
            border-color transparent
            box-shadow inset 0px 5px 5px darken($c-key, 30)
            color $c-accent
        }
        .input[type="checkbox"]:checked + label:before {
            absolute top 0 bottom 0 left 0 right 0
            border-radius 0.25em
            content ""
            display block
            font-size 1.5em
            border-top 5px solid darken($c-base, 20)
        }
    }

    .preferences-form__radio-button {
        height 4.5em
        font-size 0.8em
        position relative
        width 49%
        display inline-block
        input[type="radio"] {
            opacity 0
        }
        label {
            no-select()
            absolute top 0 left 0
            border 2px solid white
            border-radius 0.5em
            color white
            display inline-block
            font-size 1.1em
            line-height 2.6em
            text-align center
            transition all 0.5s ease
            width 100%
        }
        input[type="radio"]:checked + label {
            color $c-base
            background-color white
        }
        .input[type="radio"]:checked + label:before {
            absolute top 0 bottom 0 left 0 right 0
            border-radius 0.25em
            content ""
            display block
            font-size 1.5em
            border-top 5px solid darken($c-base, 20)
        }
    }

    .preferences-form__dropdown {
        @extends .preferences-form__input
        display inline-block
        position relative
        vertical-align top
        width 49%
    }

        .preferences-form__dropdown-trigger {
            absolute top 0 bottom 0 left 0 right 0
        }

        .preferences-form__dropdown-select {
            absolute top 0 bottom 0 left 0 right 0
            size 100%
            background none
            border 0
            outline 0
            font-size 1em
            color white
            @css {
                -webkit-appearance: none;
            }
        }

            .preferences-form__select-placeholder {
                display none
                color red
            }


    .preferences-form__button {
        @extends $primary-button
        color $c-base
        margin-top 1em
        padding 0.5em 0
        width 100%
        &:before {
            background-color darken($c-base, 15)
        }
    }

.preferences-folder {
}
    .preferences-folder__trigger {
        no-select()
        display block
        line-height 4em
        text-align center
    }

    .preferences-folder__arrow {
        display inline-block
        size 1.4em
        transform rotate(-90deg)
        margin-right 0.25em
        margin-top -0.25em
        transition transform 0.5s ease
        .preferences-folder.is-open & {
            transform rotate(0deg)
        }
    }

    .preferences-folder__content {
        display none
    }

    .preferences-folder__title {
        color white
        display inline-block
        font-weight 500
        text-transform uppercase
    }

    .preferences-folder__note {
        color white
        margin-bottom 0.5em
        text-align center
    }

.time-selector {
    display none
}

    .time-selector__block {
        margin-bottom 1em
    }

    .time-selector__day {
        border 2px solid white
        border-radius 0.5em
        color white
        display block
        height 3em
        line-height 2.75em
        position relative
        text-transform capitalize
        z-index 10
        label {
            no-select()
            absolute top 0 bottom 0 left 0 right 0
            text-align center
            background-color $c-base
            border-radius 0.5em
        }
        input {
            opacity 0
        }
        input:checked + label {
            background-color white
            color $c-base
            border-radius 0.2em
        }
    }

    .time-selector__times {
        display none
        text-align center
    }

    .time-selector__time {
        border 2px solid white
        border-radius 0.5em
        border-top none
        color white
        display inline-block
        font-size 0.9em
        height 3.5em
        line-height 3.5em
        position relative
        text-align center
        width 32%
        top -0.5em
        z-index 5
        input {
            opacity 0
        }
        label {
            absolute top 0 bottom 0 left 0 right 0
        }
        input:checked + label {
            background-color white
            color $c-base
        }
    }

