.settings-menu {
}

    .settings-menu__item {
        display block
        height 4.5em
        position relative
        border-bottom 1px solid white
        a {
            display block
            position relative
            height 4.5em
            padding-left 6em
        }
    }

    $settings-menu__icon {
        absolute top 0 left -3em
        display inline-block
        content ""
        size 2em
        top 50%
        transform translateY(-50%)
    }

    .settings-menu__link {
        color white
        display inline-block
        font-size 1.1em
        line-height 1.1em
        text-transform uppercase
        position relative
        top 50%
        transform translateY(-50%)
        &:before {
            @extends $settings-menu__icon
        }
    }

    .settings-menu__icon--pizza.settings-menu__link:before {
        background url(/images/svgs/white-pizza.svg) no-repeat center center
        background-size 95%
    }
    .settings-menu__icon--pin.settings-menu__link:before {
        background url(/images/svgs/pin.svg) no-repeat center center
        background-size 70%
    }
    .settings-menu__icon--creditcard.settings-menu__link:before {
        background url(/images/svgs/creditcard.svg) no-repeat center center
        background-size 100%
    }
    .settings-menu__icon--envelope.settings-menu__link:before {
        background url(/images/svgs/envelope.svg) no-repeat center center
        background-size 100%
        size 2.2em
    }
    .settings-menu__icon--padlock.settings-menu__link:before {
        background url(/images/svgs/padlock.svg) no-repeat center center
        background-size 80%
    }
