// Pizza Impulse Stylesheet Nexus
//
// Author: Chris Batchelor
//
// This file simply collates all the various stylesheets into a single main.css

// stylus toolkit
@require "toolkit/reset"
@require "toolkit/settings"
@require "toolkit/globals"
@require "toolkit/responsive"
@require "toolkit/grid"
@require "toolkit/utilities"

// vendor
@require "vendor/swiper"

// project wide
@require "project/global"
@require "project/pages"

// components
@require "components/home-index"
@require "components/login-form"
@require "components/settings-menu"
@require "components/contact-form"
@require "components/result-box"
@require "components/preferences"

// overrrides
